a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

.navbar {

    background-color: blue;
}

.navbar li {
    display: inline-block;
    width: 200px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: red solid 2px;
    background-color: aqua;
}