.wrapper {
  min-height: 100vh;
}
.container {
  display: flex;
  max-width: 100%;
  width: 100vw;
  height: 500px;
  align-items: flex-start;
}
.content {
  //flex: 1;
  flex: 2;
  //flex: 2;
  flex: 3;
  background-color: blue;
}
